.card{
    width:100%;
    display:flex;
    justify-content: center;
    gap:10px;
    margin: 10px;
    text-align: center;
    margin: 20px;
    background-color: aliceblue;
    
  
  }

  img{
    width: 100%;
    height:150px;
  }

  .cardContainer{
    display:flex;
    flex-direction: column;
    background-color: white;

    border:0px solid red;
    border-radius: 2px solid white;
    
   
  }